@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(to right,#151515,#151515,#9766CA);
}
#logo{
    flex-basis: 20%;
}
#logo img{
    width: 200px;
}
header{
    top: 0;
    left: 0;
    padding: 15px 100px;
    justify-content: space-between;
    display: flex;
    z-index: 10000;
    
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 0px 12px;
    color: #fff;
    border-radius: 21px;   
}
header ul li a:hover ,
header ul li a.active
{
    background: #fff;
    color: #9766CA;
}